<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- ========================= -->
        <!--   CONEXIÓN A MYSQL        -->
        <!-- ========================= -->

        <property name="hibernate.connection.driver_class">
            com.mysql.cj.jdbc.Driver
        </property>

        <property name="hibernate.connection.url">
            jdbc:mysql://localhost:3307/centroProfesores?
        </property>

        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">ad2526</property>

        <!-- ========================= -->
        <!--   PROPIEDADES HIBERNATE   -->
        <!-- ========================= -->

        <!-- Dialecto específico de MySQL 8 -->
        <property name="hibernate.dialect">
            org.hibernate.dialect.MySQLDialect
        </property>

        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Mostrar SQL en consola -->
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">false</property>

        <!-- Codificación recomendada -->
        <property name="hibernate.connection.charSet">UTF-8</property>
        <property name="hibernate.connection.useUnicode">true</property>
        <property name="hibernate.connection.characterEncoding">UTF-8</property>

        <!-- Registrar entidades -->
        <mapping resource="Especialidad.hbm.xml"/>
        <mapping resource="Asignatura.hbm.xml"/>
        <mapping resource="Centro.hbm.xml"/>
        <mapping resource="Profesor.hbm.xml"/>

    </session-factory>
</hibernate-configuration>